* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html {
  background: black;
}

#allImages {
  position: fixed; /* или fixed, если нужно относительно экрана */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px
}

#allImages img ,video{
  position: fixed; /* главное! */
  transform: translate(-50%, -50%) translateY(-100px);
  width: 100vh;
  height: 50vh;
}


#button1,#button2 {
  background: red;
  border: 0px;
  position: fixed; /* или fixed, если нужно относительно экрана */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(300px);
  font-size: 40px;
  border-radius: 10px;
  text-shadow:
    0 0 5px #000000,
    0 0 15px #363636,
    0 0 30px #6d6e70;

  box-shadow:
    0 0 5px #ff0015,
    0 0 15px #ad0513,
    0 0 30px #61050d;

  color: black;
  cursor: pointer;

}

#button1 {
  transform: translate(-50%, -50%) translateY(300px) translateX(-300px);
  transition: transform 0.2s ease;
}

#button2 {
  transform: translate(-50%, -50%) translateY(300px) translateX(300px);
  transition: transform 0.2s ease;
}


#button1:hover {
transform: translate(-50%, -50%) translateY(300px) translateX(-300px) scale(1.5);
}

#button2:hover {
  transform: translate(-50%, -50%) translateY(300px) translateX(300px) scale(1.5);
}


.Visible {
  animation: visibleAnim 0.5s 1 alternate
}

@keyframes visibleAnim {
  from {opacity: 0}
  to {opacity: 1}
}

.invisible {
  opacity: 0
}

h1 {
  color: red;
  position: fixed; /* или fixed, если нужно относительно экрана */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateY(200px);
  text-shadow:
    0 0 5px #ff0019,
    0 0 15px #a80314,
    0 0 30px #7d0410;
}


.toCenter {
  animation: toCenterAnim 3s 1 forwards
}

@keyframes toCenterAnim {
  to {transform: translate(-50%, -50%)}
}
