html {
  background: url("../Gifs/background_for_end.gif");
}
* {
  font-family: sans-serif;
}

#finalText {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) translateY(-200px);
  color: yellow;
  font-size: 50px;
  text-shadow:
  0 0 5px #ffff00,
  0 0 15px #d1d104,
  0 0 30px #a8a803,
  0 0 60px #7a7a04;
  animation: scale 0.5s infinite alternate;
}

@keyframes scale {
  from {transform: translate(50%, -50%) translateY(-200px);}
  to {transform: translate(50%, -50%) translateY(-200px) scale(1.5);
    text-shadow:
    0 0 5px #7a7a04,
    0 0 15px #d1d104,
    0 0 30px #a8a803,
    0 0 60px #ffff00;
  }
}

#finalButton {
  text-decoration: none;
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: black;
  background: #ff0000;
  background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(184, 4, 4, 1) 50%, rgba(255, 166, 166, 1) 100%);
  border-radius: 10px;
  transition: transform 0.2s ease-in
}

#finalButton::before {
  content: "🎁";
  background: yellow;
  border-radius: 10px
}

#finalButton::after {
  content: "🎁";
  background: yellow;
  border-radius: 10px
}

#finalButton:hover {
  transform: translate(50%, -50%) scale(1.5) ;
}

#finalForm {
  opacity: 0;
  pointer-events: none;
  background: yellow;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  transform: translateY(600px);
}

.opacityMake {
  animation: makelol 1s 1 forwards
}

@keyframes makelol {
  from {opacity: 0; pointer-events: none;}
  to {opacity: 1; pointer-events: all;}
}
